@import "../../theme/variables.scss";

.container-QuestionWizard {
  margin-bottom: 25px;

  .answer-question-wrapper {
    margin-top: 50px;
  }

  .progress-text-wrapper {
    margin-bottom: 10px;
    text-align: center;
    color: darken($brand-success, 10%);
    font-weight: bold;
  }

  .progress-text {
    opacity: 0.0;
    transition: opacity 0.2s;
    &.visible {
      opacity: 1.0;
    }
  }
}
