@import "../../theme/variables.scss";

.container-home {
  padding: 0px;
  margin-bottom: 25px;
  .logo-main {
    width: 200px;
    height: 100px;
  }
  // Override specific to Homepage because we don't use the regular
  // top nav
  .brand-logo {
    left: -25px;
  }
  .btn-brand {
    background-color: $brand-primary;
    border-color: darken($brand-primary, 10%);
    &:hover {
      background-color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 20%);
    }
  }

  .banner-section {
    margin: 0 auto;
    float: none;
  }

  .row-mainContent {
    margin-top: 20px;
  }

  .cta-add-resource {
    margin-top: 15px;
  }

  .cta-wrapper {
    position: relative;
  }
  .cta-text {
    margin-right: 35px;
  }

  .banner-title {
    font-size: 3.5em;
    font-weight: 300;
    padding: 30px;
    color: $brand-primary;
    text-align: center;
  }
  .banner-title-wrapper {
    text-align: center;
    margin-bottom: 30px;
  }
  .resource-row {
    background-color: $light-gray2;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    text-align: center;
    .btn {
      color: #FFF;
      margin-left: 10px;
      font-size: 18px;
      min-width: 45px;
    }
    .health {
      background-color: #f56151;
    }
    .employment {
      background-color: #9f5eb4;
    }
    .housing {
      background-color: #ffbf00;
      font-size: 20px;
    }
    .all {
      background-color: #3789cf;
    }
  }
  .resource-buttons {
    margin-top: 40px;
  }
  .resource-text {
    padding: 30px 0;
  }
  .footer-links {
    margin: 20px 0;
    a {
      margin-left: 30px;
    }
  }
  .footer {
    text-align: center;
  }
  .legal-disclaimer {
    margin-top: 10px;
    padding: 0 30px;
    text-align: center;
    font-size: 12px;
  }
  @media (max-width: $screen-md-max) {
    .row-mainContent {
      margin-top: 0;
    }
    .resource-buttons {
      margin-top: 0;
      padding-bottom: 25px;
    }
    .banner-title {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .first-question {
    padding: 40px;
    background-color: rgba(5, 167, 238, .05);
    border: 1px solid $light-gray;
    border-bottom: none;
  }
}

// Rendered in modal, not in container-home
.newsletterSignupSuccess {
  color: $brand-success;
  text-align: center;
  margin: 40px 0;
}
