@import "../../theme/variables.scss";

.container-home {
  padding: 0px;
  margin-bottom: 25px;
  .logo-main {
    width: 200px;
    height: 100px;
  }
  .btn-brand {
    background-color: $brand-primary;
    border-color: darken($brand-primary, 10%);
    &:hover {
      background-color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 20%);
    }
  }

  .banner-image {
    background-image: url('../../../../../Downloads/test_5.jpg');
    background-size: cover;
    width: 100%;
    height: 650px;
    position: relative;
    padding-top: 25px;
  }
  .banner-section {
    max-width: 1350px;
    margin: 0 auto;
    float: none;
  }

  .banner-question {
    background-color: $brand-primary;
    padding: 20px;
  }

  .questionChoice {
    padding: 15px;
    background: $brand-success;
    border: 2px solid $light-gray;
    &:hover {
      border: 2px solid $brand-info;
    }
  }

  .question-prompt {
    margin-bottom: 25px;
  }

  .banner-text {
    padding-top: 200px;
  }
  .row-mainContent {
    margin-top: 20px;
  }

  .cta-advocate {
    margin-top: 20px;
  }

  .cta-wrapper {
    position: relative;
  }
  .cta-text {
    margin-right: 35px;
  }

  .banner-title {
    color: white;
    font-size: 3.5em;
    font-weight: 300;
    padding: 10px;
    background: $brand-primary;
    display: inline-block;
  }
  .banner-title-wrapper {
    text-align: center;
    margin-bottom: 30px;
  }
  .cta-2nd {
    margin-top: 20px;
    text-align: center;
    .btn {
      background: $brand-primary;
    }
  }
  .newsletterModalLink {
    margin-top: 20px;
  }
  .legal-disclaimer {
    margin-top: 200px;
    padding: 0 30px;
    text-align: center;
    font-size: 12px;
  }
  @media (max-width: $screen-sm-max) {
    .banner-question {
      margin-top: 125px;
    }
  }

  .first-question {
    padding: 20px;
  }
}

// Rendered in modal, not in container-home
.newsletterSignupSuccess {
  color: $brand-success;
  text-align: center;
  margin: 40px 0;
}
