/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Bootstrap Variables
$brand-primary: #2327b4;
$brand-secondary: #FFC33E;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$light-gray: #e8e8e8;
// used on homepage resource row
$light-gray2: #f9f9f9;
$medium-gray: darken($light-gray, 15%);

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;


$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1200px;
