@import "../../theme/variables.scss";

.questionForm {
  border-bottom: 1px dashed $medium-gray;

  .order-label {
    width: 5%;
  }

  .buttons .btn {
    margin-left: 5px;
  }

  @media (min-width: $screen-lg-max) {
    .col-id {
      width: 6%;
    }
    .col-order {
      width: 11%;
    }
    .col-category {
      width: 11%;
    }
    .col-stem {
      width: 47%;
    }
  }
}
