@import "../../theme/variables.scss";

.question {
  background: #FFF;
  border-radius: 2px;

  .question-stem {
    margin-bottom: 20px;
    padding: 50px 0px;
    border-bottom: 1px dashed $light-gray;
    font-size: 24px;
  }
  .choices {
    clear: both;
  }
  .choice {
    cursor: pointer;
    padding: 15px 15px;
    border: 2px solid $light-gray;
    &:hover {
      border: 2px solid $brand-info;
    }
    &.selected {
      background-color: $brand-success;
      border: 2px solid $brand-success;
      color: #FFF;
    }
  }

  .submit-wrapper {
    margin-top: 10px;
  }
}
