@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import "../../theme/variables.scss";

// For 100% height containers
body, html, #root, #root > div {
  height: 100%;
}

.app {
  font-family: 'Lato', sans-serif;
  height: 100%;
  background-color: #fff;
  padding-bottom: 25px;
  a {
    text-decoration: none;
  }
  .brand-logo {
    position: absolute;
    top: -3px;
    left: 5px;
    background: url('./dcr_resources_1.png') no-repeat center center;
    $size: 40px;
    width: 180px;
    height: 60px;
    background-size: 80%;
    display: inline-block;
    margin-right: 10px;
  }
  .beta-tag {
    color: $brand-primary;
    position: absolute;
    right: -15px;
    bottom: 5px;
  }
  .brand-title {
    margin-left: 30px;
  }
  .navbar-brand {
    position: relative;
  }

  .profilePic {
    width: 35px;
    position: absolute;
    top: 8px;
    left: 0px;
  }

  .form-control-static {
    word-wrap: break-word;
  }

  @media (max-width: $screen-sm-max) {
    .profilePic {
      position: relative;
      top: 0px;
      left: 0px;
      margin-right: 10px;
    }
  }
  // For consistency with pages that do not have a navbar, content is pushed down
  // an equal amount
  .navbar-dummy {
    height: 52px;
    margin-bottom: 20px;
  }

  .container--main {
    padding-bottom: 25px;
    min-height: 500px;
  }

  /*TODO: Reimplement these slide animation rules*/
  /*.container {*/
    /*position: relative;*/
    /*overflow: hidden;*/
  /*}*/
  /*.containder-slide-wrapper {*/
    /*width: 200%;*/
    /*overflow: hidden;*/
  /*}*/
  /*.container-enter {*/
    /*opacity: 0.01;*/
  /*}*/

  /*.container-enter.container-enter-active {*/
    /*opacity: 1;*/
    /*transition: opacity 5000ms slide-right;*/
  /*}*/

  /*.container-leave {*/
    /*opacity: 1;*/
  /*}*/

  /*.container-leave.container-leave-active {*/
    /*opacity: 0.01;*/
    /*transition: opacity 3000ms slide-left;*/
  /*}*/
}
