@import "../../theme/variables.scss";

.container-personalizedResources {
  .content {
    min-height: 250px;
  }
  .resource-list {
    margin: 25px 0;
  }
  .no-resources {
    text-align: center;
    margin-top: 100px;
  }

  .no-resources-cta {
    margin-top: 20px;
    a {
      width: 300px;
      background: $brand-primary;
    }
  }
  .tag-label {
    margin-right: 5px;
  }
  .tokenized-tag {
    background-color: $brand-success;
    border-radius: 2px;
    border: 1px solid darker($brand-success, 10%);
    color: #FFF;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 7px;
  }
}
